@mixin make-column($label, $width) {
  .col-#{$label}-#{$width} {
    flex-basis: percentage($width / 12);
    max-width: percentage($width / 12);
  }
}

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@function remy($pxsize, $rembase) {
  @return ($pxsize/$rembase)+rem;
}

@function boolean-switch($var) {
  @if $var {
    @return true
  } @else {
    @return false
  }
}

@function return-self($var) {
  @return $var;
}

@mixin make-align-left($label) {
  .align-left-#{$label} {
    justify-content: flex-start;
  }
}

@mixin make-align-center($label) {
  .align-center-#{$label} {
    justify-content: center;
  }
}

@mixin make-align-right($label) {
  .align-right-#{$label} {
    justify-content: flex-end;
  }
}

@mixin make-general-alignments($label) {
  @include make-align-left($label);
  @include make-align-center($label);
  @include make-align-right($label);
}
