@mixin make-column($label, $width) {
  .col-#{$label}-#{$width} {
    flex-basis: percentage($width / $grid-columns);
    max-width: percentage($width / $grid-columns);
  }
}

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}