$tests: ();
$variables: ();

@mixin describe($description) {
  $tests: append($tests, $description);
  $variables: map-merge($variables, (#{$description}: ()));
  @content;
}

@mixin let($variable, $value) {
  @if empty($tests) == false {
    $scope: last($tests);
    $locals: map-get($variables, $description);
    $locals: map-merge($locals, (#{$variable}: $value));
    content: map-keys($locals);
  }
}

@function last($list) {
  @return nth($list, length($list));
}

@function empty($list) {
  @return length($list) > 0
}